* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none !important;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

.header {
  background: -webkit-linear-gradient(0deg, #41a0ea, #f18e95 100%);
  min-height: 100vh;
}
.header nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 10px 20px 0px rgba(27, 24, 47, 0.1);
}
.header .nav_bar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
.header .nav_bar .menu_btn {
  display: none;
}
.header .nav_bar .logo h1 {
  font-size: 38px;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  color: #41a0ea;
  cursor: pointer;
}
.header .nav_bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 !important;
}
.header .nav_bar ul li {
  list-style: none;
  color: #f18e95;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
  font-family: "Inter", sans-serif;
}
.header .nav_bar ul li:hover {
  color: #41a0ea;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  width: 70%;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
}
.header_content .header_left {
  flex-basis: 40%;
}
.header_content .header_left span {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.header_content .header_left h1 {
  font-size: 52px;
  margin-bottom: 30px;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
}
.header_content .header_left p {
  font-size: 22px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
.header_content .header_right {
  flex-basis: 30%;
}
.header_content .header_right img {
  height: 600px;
  margin-top: 50px;
}

.title_text {
  text-align: center;
}
.title_text span {
  color: white;
  border-radius: 30px;
  background: -webkit-linear-gradient(0deg, #41a0ea, #f18e95 100%);
  padding: 3px 45px;
  font-family: "Oxygen", sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
}
.title_text h1 {
  font-size: 34px;
  color: #141417;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  margin-top: 30px;
  line-height: 45px;
}

.faqs {
  width: 800px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 80px;
}
.faqs .accordion {
  margin-top: 80px;
  border: none !important;
  outline: none !important;
}

.accordion-button:not(.collapsed) {
  color: white !important;
  background: -webkit-linear-gradient(0deg, #41a0ea, #f18e95 100%) !important;
}

.accordion-button {
  font-size: 18px !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 600 !important;
  color: #141417 !important;
  background-color: #f5f5f5 !important;
  margin: 10px 0 !important;
  border-radius: 10px !important;
  padding: 20px !important;
}
.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-body {
  color: #808080 !important;
  text-align: left;
  font-family: "Poppins", sans-serif !important;
  padding: 30px 40px !important;
}

.accordion-item {
  border: none !important;
}

.features {
  padding-top: 150px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}
.features .features_container {
  width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.features .features_container .features_box {
  flex-basis: 32%;
  padding: 40px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  transition: all;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.features .features_container .features_box:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.features .features_container .features_box h1 {
  font-size: 26px;
  font-family: "Oxygen", sans-serif;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
}
.features .features_container .features_box p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #808080;
  line-height: 25px;
}
.features .features_container .features_box img {
  width: 60px;
}

.about_us {
  padding-top: 100px;
  padding-bottom: 80px;
  width: 70%;
  margin: 0 auto;
}
.about_us .about_container {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_us .about_container .about_content {
  flex-basis: 60%;
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.about_us .about_container .about_content p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #141417;
  line-height: 25px;
  font-weight: 400;
}

.usage {
  padding-top: 150px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}
.usage .usage_container {
  margin: 0 auto;
  margin-top: 80px;
  width: 70%;
}
.usage .usage_container .usage_content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.usage .usage_container .usage_content h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.usage .usage_container .usage_content p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #141417;
  line-height: 25px;
  font-weight: 400;
}

footer {
  background: -webkit-linear-gradient(0deg, #41a0ea, #f18e95 100%);
}
footer .footer_container {
  width: 70%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer .footer_container img {
  width: 140px;
  cursor: pointer;
}
footer .footer_container .footer_col h1 {
  font-size: 20px;
  font-weight: 700;
  color: white;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 30px;
}
footer .footer_container .footer_col p {
  font-size: 16px;
  font-weight: 300;
  color: white;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 200ms;
}
footer .footer_container .footer_col p:hover {
  color: #0d6efd;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #dfe6e9;
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(90deg, #41a0ea, #f18e95 100%);
  border-radius: 10px;
}

@media (min-width: 2000px) {
  footer .footer_container {
    width: 50%;
  }
  .header nav .nav_bar {
    width: 50%;
  }
  .header .header_content {
    width: 50%;
  }
  .features .features_container {
    width: 50%;
  }
  .about_us {
    width: 50%;
  }
  .usage .usage_container {
    width: 50%;
  }
}
@media (max-width: 1600px) {
  footer .footer_container {
    width: 80%;
  }
  .header nav .nav_bar {
    width: 80%;
  }
  .header .header_content {
    width: 80%;
  }
  .features .features_container {
    width: 80%;
  }
  .about_us {
    width: 80%;
  }
  .usage .usage_container {
    width: 80%;
  }
}
@media (max-width: 1360px) {
  footer .footer_container {
    width: 90%;
  }
  .header nav {
    width: 100vw;
  }
  .header nav .nav_bar {
    width: 90%;
  }
  .header .header_content {
    width: 90%;
  }
  .features .features_container {
    width: 90%;
  }
  .about_us {
    width: 90%;
  }
  .usage .usage_container {
    width: 90%;
  }
}
@media (max-width: 800px) {
  footer .footer_container {
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .footer_container .footer_col {
    flex-basis: 50%;
    margin-top: 40px;
  }
  footer .footer_container .footer_col h1 {
    margin-bottom: 20px;
  }
  footer .footer_container .footer_col p {
    font-weight: 300;
  }
  footer .footer_container .footer_col .download_images img {
    margin-top: 10px;
  }
  .button-64 {
    font-size: 16px;
    font-weight: 400;
  }
  .button-64 span {
    padding: 12px 18px;
  }
  .header nav .nav_bar {
    width: 90%;
    height: 60px;
  }
  .header nav .nav_bar .menu_btn {
    display: block;
  }
  .header nav .nav_bar .menu_btn img {
    width: 25px;
  }
  .header nav .nav_bar .logo h1 {
    font-size: 32px;
  }
  .header nav .nav_bar .nav_tabs ul {
    position: fixed;
    top: 60px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    overflow: hidden;
    transition: all 700ms;
  }
  .header nav .nav_bar .nav_tabs ul li {
    color: #0d6efd;
    font-size: 18px;
  }
  .header .header_content {
    width: 90%;
    height: 100vh;
  }
  .header .header_content .header_right {
    display: none;
  }
  .header .header_content .header_left {
    flex-basis: 100%;
  }
  .header .header_content .header_left h1 {
    font-size: 44px;
    margin-bottom: 20px;
  }
  .header .header_content .header_left p {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
  }
  .header .header_content .header_left span {
    font-size: 17px;
  }
  .title_text h1 {
    font-size: 28px;
  }
  .title_text span {
    font-size: 18px;
  }
  .faqs {
    width: 90%;
    padding-top: 100px;
  }
  .faqs .accordion {
    margin-top: 30px;
  }
  .features {
    padding-top: 100px;
  }
  .features .features_container {
    width: 90%;
    margin-top: 40px;
    flex-direction: column;
    gap: 30px;
  }
  .features .features_container .features_box {
    min-height: 300px;
  }
  .features .features_container .features_box h1 {
    font-size: 24px;
  }
  .features .features_container .features_box p {
    font-size: 14px;
  }
  .about_us {
    width: 90%;
    padding-top: 100px;
  }
  .about_us .about_container {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }
  .about_us .about_container .about_content {
    margin-top: 40px;
    -moz-column-count: 1;
         column-count: 1;
  }
  .usage {
    padding-top: 100px;
  }
  .usage .usage_container {
    width: 90%;
    margin-top: 40px;
  }
  .usage .usage_container .usage_content h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .usage .usage_container .usage_content p {
    font-size: 14px;
  }
  .accordion-button {
    font-size: 15px !important;
    font-weight: 600 !important;
    padding: 15px !important;
  }
  .accordion-button:focus {
    box-shadow: none !important;
  }
  .accordion-body {
    font-size: 14px;
    padding: 20px 30px !important;
  }
}/*# sourceMappingURL=style.css.map */